[Unit]
Description=Digital Photoframe
After=multi-user.target

[Service]
Environment=QT_QPA_EGLFS_PHYSICAL_WIDTH=155
Environment=QT_QPA_EGLFS_PHYSICAL_HEIGHT=86
Environment=QT_QPA_EGLFS_HIDECURSOR=1
# Environment=QT_LOGGING_RULES="qpf.*.debug=true"
Type=idle
User=pi
Group=pi
ExecStart=/opt/QPhotoFrame/bin/QPhotoFrame > /var/log/qphotoframe.log 2>&1

[Install]
WantedBy=multi-user.target

